/* MARK HEADER */

.navigation-header {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: min-content;
  }
  
  .main-section{
    height: 40%;
    width: 60%;
  }
  
  .navigation {
    display: flex;
    gap: 10px;
  }
  
  .navigation a {
    text-decoration: none;
  }
  
  .titel-header {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  /* MARK MAIN */
  
  #main-section {
    background-color: bisque;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .review-setion {
    flex-basis: 100%;
    flex-grow: 0;
  }
  
  .review-section img {
    max-width: 100%;
    max-height: 50%;
  }
  
  .message-us {
    flex-basis: 40%;
    flex-grow: 0;
    background-color: beige;
    background-blend-mode: darken;
    border-radius: 20px;
    flex-direction: column;
  }
  
  .input-message-us {
    display: flex;
    flex-direction: column;
  }
  
  button {
    margin-left: 24px;
  }
  